.header{
	z-index: 50;
	position: relative;
	background-color: $--white;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	@media screen and (min-width:1024px) {
		position: relative;
	}
	&__top{
		padding: 8px 0;
		border-bottom: 1px solid #CECECE;
		@media screen and (max-width:1023.9px) {
			display: none;
		}
	}
	&__linkpoint{
		display: flex;
		gap: 40px;
		justify-content: space-between;
		align-items: center;
		.header__menu &{
			@media screen and (min-width:1023.9px) {
				display: none;
			}
			flex-direction: column-reverse;
			align-items: start;
			gap: 20px;
			.header__social{
				gap: 20px;
			}
		}
	
		&__tel{
			display: flex;
			align-items: center;
			gap: 5px;
			a{
				transition: .3s linear;
				&:hover{
					color: $--blue;
				}
				&:nth-of-type(2){
					color: $--blue;
					&:hover{
						color: $--black;
					}
				}
			}
		}
	}
	&__social{
		display: flex;
		align-items: center;
		gap: 30px;
		a,
		div{
			display: flex;
			align-items: center;
			gap: 10px;
			width: fit-content;
			transition: .3s linear;
			span{
				text-decoration: underline;
			}
			svg{
				max-width: 22px;
				max-height: fit-content;
				width: 100%;
				height: 100%;
				path{
					transition: .3s linear;
				}
			}
			&:hover{
				color: $--blue;
				svg path{
					fill: #8EB0EC;
				}
			}

		}
		.header__menu &{
			flex-direction: column;
			align-items: start;
		}
		}
	&__bottom{
		transition: .3s linear;
		z-index: 500;
		animation-duration: 0.5s;
		animation-iteration-count: forwards;
		background-color: $--white;
		@media screen and (max-width:1023.9px) {
			padding: 10px;
		}
		&.fixed-header-nav {
			top: 0;
			position: fixed;
			width: 100%;
		}
		@keyframes smoothScroll {
			0% {
				transform: translateY(-40px);
			}
			100% {
				transform: translateY(0px);
			}
		}
		@keyframes removeSmoothScroll {
			0% {
				transform: translateY(40px);
			}
			100% {
				transform: translateY(0px);
			}
		}
		.logo{
			max-width: 220px;
			max-height: fit-content;
			@media screen and (min-width:1024px) {
				max-width: 200px;
			}
		}
	}
	&__wrap{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}
	&__menu{
		display: flex;
		align-items: center;
		gap: 20px;
		width: 100%;
		@media screen and (min-width:1240px) {
			width: 77%;
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			width: 80%;
		}
		@media screen and (min-width:1024px) {
			justify-content: space-between;
		}
		@media screen  and (max-width:1023.9px){
			flex-direction: column;
			position: fixed;
			align-items: flex-start;
			left: -100%;
			top: 70px;
			width: 100%;
			height: calc(100% - 70px);
			overflow: hidden;
			overflow-y: auto;
			padding: 20px;
			transition: .3s linear;
			background-color: $--white;
			gap: 30px;
			.open &{
				left: 0;
			}
		}
		nav{
			width: 100%;
		
			ul{
				display: flex;
				align-items: center;
				color: $--silver;
				gap: 20px;
				
				@media screen and (min-width:1240px) {
					gap: 50px;
				}
				@media screen and (min-width:1024px) and (max-width:1239.9px) {
					justify-content: space-between;
				}
				@media screen  and (max-width:1023.9px){
					flex-direction: column;
					align-items: flex-start;
				}
				@include p2-1;
				li{
					
					position: relative;
					transition: .3s linear;
					text-transform: uppercase;
					
					a{
						position: relative;
						transition: .3s linear;
						@media screen and (min-width:1024px){
							height: 100%;
							display: inline-block;
							padding: 31px 0px;
							&:after{
								content: '';
								width: 0;
								height: 2px;
								background-color: $--blue;
								position: absolute;
								bottom: 0;
								left: 0;
								transition: .3s linear;
							}
							&:hover{
								color: $--blue;
							&:after{
								width: 100%;
							}
							}
						}
					}
					&.current_page_item{
						color: $--blue;
						a{
							@media screen and (min-width:1024px) {
								&:after{
									width: 100%;
								}
							}
						}
					}
					&:hover{
						color: $--white;
					}
					@media screen and (max-width:1023.9px) {
						width: 100%;
					}
				}
			}
		}
	}
}

.burger{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $--blue;
	width: 54px;
	height: 54px;
	flex-direction: column;
	gap: 6px;
	cursor: pointer;
	border-radius: 50%;
	span{
		width: 23px;
		height: 2px;
		background-color: $--white;
		transition: .3s linear;
		.open &{
				&:nth-child(1) {
					transform: rotate(45deg) translate(6px, 5px) scale(1.2);
				}
		&:nth-of-type(2){
			opacity: 0;
		}
				&:nth-child(3) {
					transform: rotate(-45deg) translate(5px, -5px) scale(1.2);
				}
			}
		
		
	}
	@media screen and (min-width:1023.9px) {
		display: none;
	}
}