.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s linear;
	background: rgba(236, 239, 245, 0.80);
	 @media screen and (max-width:767px) {
		padding-top: 20px;
	 }
}
.open-popup .popup {
	opacity: 1;
	visibility: visible;
}
.popup-bg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 100;
}
.popup-wrapper{
	height: 100%;
    overflow-y: auto;
    text-align: center;
    position: relative;
		transition: 0.5s linear;
		&::after {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
	}
}
.popup-wrap{
		vertical-align: middle;
    text-align: left;
    display: inline-block;
		gap: 5px;
		padding: 30px 20px;
		background-color: $--white;
		opacity: 1;
		z-index: 2;
		max-width: 578px;
		position: relative;
		width: 90vw;
		color: $--black;

		@media screen and (min-width:768px) {
			padding: 60px 40px;
		}


		& .close{
			position: absolute;
			 top: 0;
			 right: -48px;
				padding: 15px;
				outline: none;
				min-width: 48px;
				min-height: 48px;
				max-width: 48px;
				max-height: 48px;
				padding: 0;
				cursor: pointer;
				@media screen and (max-width:1023px) {
					top: 20px;
					right: 20px;
				}
				 & svg{
					 width: 48px;
					 height: 48px;
					}
		}
		& div:not([class]){
			@include titleH4;
			text-align: center;
			margin-bottom: 30px;
			@media screen and (max-width:767px) {
				font-size: 17px;
			}
			@media screen and (max-width:1023.9px) {
				padding-right: 48px;
			}
		}
		& p{
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%;
			margin-bottom: 30px;
			opacity: .5;
		}
	&	form{
			color: $--black;
			input:not([type="submit"]){
			color: $--black;
			border-bottom: 1px solid rgba(64, 64, 64, 0.20);
			&::placeholder{
				color: $--black;
				opacity: .5;
			}
			label{
			color: inherit;
			}
			& input.btn{
				max-width: 100%;
				width: 100%;
				
			}
			}
		}
}